.container{
    color:white;
    /* border: 5px solid rgb(188, 175, 0); */
    display: flex;
    gap: 5px ;
    justify-content: flex-end;
    /* justify-content: center; */
    justify-content: space-between;
    /* justify-content: space-around; */
    font-size: 50px;
    flex-wrap: wrap;
    height: 70vh;
    align-items: center;
}
.A{
    background-color: violet;
    /* align-self: flex-start; */
}
.B{
    background-color: indigo;
}
.C{
    background-color: blue;
}
.D{
    background-color: green;
}
.E{
    background-color: orange;
}
.heading{
    background-color: rgb(182, 255, 250);
    width: 450px;
}